@font-face {
  font-family: PlusJakartaSans;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(~assets/fonts/PlusJakartaSans-Regular.woff2) format("woff2"),
    url(~assets/fonts/PlusJakartaSans-Regular.woff) format("woff");
}

@font-face {
  font-family: PlusJakartaSans;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(~assets/fonts/PlusJakartaSans-Bold.woff2) format("woff2"),
    url(~assets/fonts/PlusJakartaSans-Bold.woff) format("woff");
}

/* vietnamese */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/museomoderno/v20/zrf30HnU0_7wWdMrFcWqSEXPVyEaWJ55pTleMohDieQQjNKl.woff2)
    format("woff2");
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1,
    U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/museomoderno/v20/zrf30HnU0_7wWdMrFcWqSEXPVyEaWJ55pTleMohDieUQjNKl.woff2)
    format("woff2");
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB,
    U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: "MuseoModerno";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/museomoderno/v20/zrf30HnU0_7wWdMrFcWqSEXPVyEaWJ55pTleMohDiesQjA.woff2)
    format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

*::selection {
  @apply bg-primary text-white;
}

a,
button,
label,
li {
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.no-tap-highlight {
  -webkit-tap-highlight-color: transparent;
}

/* Nuxt Page Transition - Start */
// .page-enter-active,
// .page-leave-active {
//   transition: all 0.2s ease-in-out;
// }
// .page-enter,
// .page-leave-to {
//   opacity: 0;
// }

// .page-enter {
//   transform: translate3d(0, 60px, 0);
// }

// .page-leave-to {
//   transform: translate3d(0, -60px, 0);
// }

// Custom Scrollbar - Start
::-webkit-scrollbar,
.custom-scrollbar::-webkit-scrollbar {
  @apply h-3 w-3;
}

::-webkit-scrollbar-track,
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

::-webkit-scrollbar-thumb,
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-gray-700/80 transition-colors hover:bg-gray-700;
}
// Custom Scrollbar - End
